.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btnStyle {
    background: #27e336 !important;
    border: 1px solid #08d118;
    color: #fff;
}

.labelStyle {
    color: #ff0000;
    font-size: 40px;
}

.divStyle {
    border: 1px solid #f2f0f3;
    margin: 20px;
    padding: 20px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;

    display: block;
    margin: 20px;
    font-size: 30px;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}